:root {

  /* Colors: */
  --main-color: #13C4A3;
  --main-light-color: #36F1CD;
  --main-dark-color: #12B093;
  --link-color: #39A0ED;
  --decline-color: #8011BC;
  --atention-color: #C40EC5;
  --background-color: #252435;
  --background-light-color: #33324A;
  --background-dark-color: #1E1D2B;
  --background-separators: #51505D;
  --tag-color: #3A3854;
  --title-text-color: #FFFFFF;
  --subtitle-text-color: #CBCBCB;
  --text-color: #BFBFC4;
  --text-dark-color: #94949D;
  --dark-overlay: rgba(0,0,0,0.5)
}


/* @font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
} */

a{
  color: var(--link-color)
}

body {
  background-color: var(--background-color);
  font-family: 'Proxima Nova', 'Curier new';
}

button {
  font-size: 18px;
  letter-spacing: 0.05em;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  /* height: 3em; */
  border-radius: 30px;
  border-style: unset;
  padding: 0.6em 2em;
  margin: 0.2em;
  min-width: 200px;
}

button:hover {
  background-color: var(--main-light-color) 
}

button:focus { 
  outline: none; 
}

button:disabled{
  opacity: 20%;
}

h1{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  color: var(--main-color)
}
h2{
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
}
h4{
  font-size: 24px;
  margin: 0.7em 0em;
}

p{
  font-family: 'Proxima Nova';
  font-size: 18px;
}
span{
  font-size: small;
  color: var(--background-separators);
}
input, select, textarea{
  outline: 0;
  border-style: solid;
  border-width: 0 0 3px;
  border-color: var(--background-separators);
  background-color: transparent;
  font-size: 16px;
  padding-bottom: 1em;
  color: var(--text-color);
  font-family: 'Proxima Nova';
}
textarea{
  border-width: 3px;
}
.secondary-button{
  background-color: transparent;
  padding: 0.6em 1em;
  min-width: auto;
  opacity: 80%;
  border-radius: 0px;
}

.secondary-button:hover{
  background-color: transparent;
  opacity: 100%;
}
.secondary-button:hover:disabled{
  opacity: 20%;
}

.close-button{
  width: 60px;
  height: 60px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/icons/close_icon@2x.png");
  align-self: flex-end;
}
.interests-nav{
  display: inline-flex;
  width: 100%;
  margin-top: 1em;
  justify-content: center;
}
.tab-button{
  font-family: 'Proxima Nova';
  margin: 0em 1em;
}
.tab-button:active{
  outline: 0;
  border-style: solid;
  border-width: 0 0 3px;
  border-color: var(--main-color);
}
.content-container{padding: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.light-border{
 border-radius: 6px;
 border-width: 2px;
 border-color: var(--background-separators);
 border-style: solid;
}

.App-link {
  color: #61dafb;
}

.App-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.general-container{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 300px auto;
  align-items: stretch;
}

.popup-container{
  position: absolute;
  width: 100%;
  height: 100%;
  display:flex;
  z-index: 1;
  background-color: var(--dark-overlay);
  justify-content: center;
  align-items: center;
}

.popup{
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  max-width: 60%;
}


/* Landing: Register or login */

.App-logo {
  /* height: 4vmin; */
  pointer-events: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.arrow-list > li {
  list-style-image: url(images/icons/arrow_white_big.png); 
  /* TODO: adds space between the marker and the text*/
}

.landing-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 2em;
}

.access-card{
  /* width: 100%; TODO: fix size*/
  border-radius: 15px;
  border-color: var(--main-light-color);
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}



/* Register */
.register-container{
  display: grid;
  width: 100%;
  /* grid-template-columns: 40% 60%; */
  /* grid-template-rows: 1fr 6fr 1fr; */
  grid-template-areas: 
    "header header"
    "form interest"
    "action action";
  align-items: center;
}

.register-container h2{
  font-size: 28px;
}

/* Register: From and interest synch */
.register-logo{
grid-area: header;
justify-self: center;
}

.register-button{
grid-area: action;
justify-self: center;
align-self: center;
}

.register-info{
grid-area: form;
justify-self: center;
max-width: 500px;
}

.register-interest{
grid-area: interest;
justify-self: center;
}


.synchronize-interests{
border-style: solid;
border-color: var(--background-separators);
border-radius: 6px;
border-width: 3px;
min-height: 500px;
padding: 1em;
}

.dropping-area{
background-color: var(--background-dark-color);
border-radius: 10px;
height: 1.3em;
display: flex;
align-items: center;
border: dashed;
border-color: var(--background-separators);
}
.dropping-area span{
font-size: 20px;
margin: 0.4em auto;
opacity: 60%;
}

.tag{
display: inline-flex;;
background-color:var(--tag-color);
border-radius: 18px;
padding: .3em .8em .3em 0.8em;
justify-content: space-evenly;
align-items: center;
margin: 0.2em 0.2em;
max-height: 0.75em;
}
.tag p{
margin:0px;
}

.row{
display: inline-flex;
justify-content: space-between;
width: 100%;
}
.item{
width: 100%;
padding: 0px 1em;
}

.item textarea{
width: 100%;
height: 3em;
padding: 0.5em;
}
.item input{
width: 100%;
}
.form-error{
font-size: small;
color: #C40EC5;
margin-top: 4px;
}



/* MENU STYLES */

.menu-container{
  font-family: 'Proxima Nova';
  height: 100%;
  background-color: var(--main-color);
}

.menu-tabs{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu-tab{
  border-radius: 1px;
  margin: 0.3em 0px;
  text-align: left;
  padding-left: 3em;
  font-family: 'Proxima Nova';
  text-transform: uppercase;
}

.menu-tab:hover{
  background-color: var(--main-dark-color); 
  /* TODO: show the arrow https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/
}

/* Profile browser */

.profile-container{
  text-align: center;
  width: 80%;
  margin: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-rows: 45% 55%;
}
.profile-nav{
  align-self: center;
  margin-bottom: 1em;
}
.profile-info h2{
  background-color: var(--background-dark-color);
  align-self: start;
  margin: 0px;
  padding: 0.5em 0;
}

.profile-info label{
  margin-right: 1em;
  font-size: 18px;
  font-weight: bold;
  color: var(--subtitle-text-color);
}

.profile-info p{
  font-size: 18px;
  color: var(--text-color);
  display: inline;
  line-height:1.5em;
}
.info{
  text-align: left;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: self-start;
}
.info-column{
  display: inline-grid;
  margin: 0.5em 1.5em;
  max-width: 50%;
}
.info-item{
  display: inline;
  margin-bottom: 0.25em;
}
.interests-container{
  margin: 0em 2em;
  min-height: 7em;
  border-radius: 10px;
  padding: 0.5em;
  background-color: var(--background-dark-color);
}

/* Icebreaker styles */
.icebreaker{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1em;
  text-align: center;

}
.icebreaker select{
  width: fit-content;
  align-self: center;
}
.post-container{
 padding: 1em;
 margin: 1em;
 align-content: center;
 text-align: left;
}

.platform-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
