:root {

  /* Colors: */
  --main-color: #13C4A3;
  --main-light-color: #36F1CD;
  --main-dark-color: #12B093;
  --link-color: #39A0ED;
  --decline-color: #8011BC;
  --atention-color: #C40EC5;
  --background-color: #252435;
  --background-light-color: #33324A;
  --background-dark-color: #252435;
  --background-separators: #545362;
  --tag-color: #3A3854;
  --title-text-color: #FFFFFF;
  --subtitle-text-color: #CBCBCB;
  --text-color: #BFBFC4;
  --text-dark-color: #94949D;
}

.App-container {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  /* height: 4vmin; */
  pointer-events: none;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.arrow-list > li {
  list-style-image: url(icons/arrow_white_big.png); 
  /* TODO: adds space between the marker and the text*/
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
body {
  background-color: var(--background-color);
  
}
.content-container{
  align-content: center;
}
.general-container{
  /*
     grid-template-columns:repeat(4, 1fr);
     grid-template-rows: 50px 50px;
 */
  display: grid;
  grid-template-columns: 300px auto;
  align-items: stretch;
}

.menu-container{
  height: 100%;
  background-color: var(--main-color);
  max-width: 300px;
  padding: 40px;

}

.landing-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;

}

.login{
  width: 40%;
  border-radius: 15px;
  border-color: var(--main-light-color);
  border-width: 3px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.profile-nav{
  position:fixed;
	width:500px;
	height:60px;
  bottom:40px;
  left: 50%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
